html{
    height: 100%
}
body{
   background: #E8E9EB;
   height: 100%
}

.no-margin-left{
    padding-left: 0px;
}

.side-bar{
    background: #FFF;
    padding: 10px;
    border-radius: 4px;
}

.side-bar-right{
    background: #FFF;
}

.main-content{
    background: #313638;
    height: 100%
}

.app{
    padding: 20px;
}

.title{
    font-size: 30px;
    margin-bottom: 20px;
}

.list-item{
    display: inline-block;
}

.delete-button{
    float: right;
    cursor: pointer;
    width: 26px;
    text-align: center;
    border-radius: 4px;
    border: 1px solid #cccbcb;
    font-size: 18px;
}